{
    "presets": [
        [
            "@babel/preset-env",
            {
                "shippedProposals": true
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-optional-chaining",
        "@babel/plugin-transform-private-methods"
    ]
}
